@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-broken-gray: #F2F0EF;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
}

.embla__slide {
    position: relative;
    min-width: 0;
}

@media (min-width: 768px) {
    .embla__slide {
        padding: 0 0.5rem;
    }
}